@import "mixins";
@import "variables";

.page {
  @include text-font;
  font-size: 18px;

  background-color: $dark-color;

  color: white;
}
.page__main-header {
  margin-bottom: 190px;
}
.page__pagination-right {
  position: fixed;
  right: 71px;
  top: 325px;
}
.page__networks {
  position: fixed;
  left: 0;
  top: 433px;
}
.page__main-info {
  margin-bottom: 845px;
}
.page__main-page-article {
  margin-bottom: 200px;
  &:nth-last-of-type(1) {
    margin-bottom: 0;
  }
}
.page__main-page-articles {
  margin-bottom: 200px;
}
.page__main-footer {
  margin-bottom: 120px;
}
