@import "mixins";
@import "variables";

.sub-heading {
  @include no-indent;
  padding-left: 105px;
  letter-spacing: 6px;

  text-transform: uppercase;
  color: $accent-color;
  @include font(18px, 26px);

  position: relative;
  &::before {
    content: '';

    position: absolute;
    left: 0;

    width: 72px;
    height: 2px;
    top: 50%;

    background-color: $accent-color;
  }
}
